<link rel="stylesheet" href="/stylesheets/dashboard.css">
<link rel="stylesheet" href="/stylesheets/test.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .dashboard {
    width: 100%;
    margin-top: 17px;
    letter-spacing: 2px;
    color: #ccc;
  }
</style>

<aside class="side-nav" id="show-side-navigation1">
  <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
  <div class="heading">
    <img
      src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
      alt="">
    <div class="info">
      <h3><a href="#">Asharudheen</a></h3>
      <p>Admin</p>
    </div>
  </div>
  <div>
    <a id="dashb" type="button" class="dashboard btn btn-outline-primary waves-effect">DashBoard</a>
  </div>
  <ul class="categories">
    <li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#"> User Managment</a>
      <ul class="side-nav-dropdown">
        <li><a href="/admin/view-users">View Users</a></li>
        <li><a href="/admin/add-users">Add User</a></li>
      </ul>
    </li>
    <li><i class="fa fa-product-hunt" aria-hidden="true"></i><a href="#">Product Managment</a>
      <ul class="side-nav-dropdown">
        <li><a href="/admin/view-product">View Products</a></li>
        <li><a href="/admin/add-product">Add New Products</a></li>
      </ul>
    </li>
    <li><i class="fa fa-product fa-fw" aria-hidden="true"> <i class="fab fa-product-hunt"></i></i><a href="#">Order Managment</a>
      <ul class="side-nav-dropdown">
        <li><a href="/admin/order-details">View Orders</a></li>
        <li><a href="/admin/successorder">Success Orders</a></li>
        <li><a href="/admin/rejectorder">Canceled Orders</a></li>
        <li><a href="/admin/plsacedorder">Pending Orders</a></li>
      </ul>
    </li>
    <li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#">Category Managment</a>
      <ul class="side-nav-dropdown">
        <li><a href="/admin/category">Categories</a></li>
        <li><a href="/admin/addCategory">Add Category</a></li>
      </ul>
    </li>
    <li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#">Voucher Managment</a>
      <ul class="side-nav-dropdown">
        <li><a href="/admin/voucher">Check Vouchers</a></li>
      </ul>
    </li>
    <li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#">Report</a>
      <ul class="side-nav-dropdown">
        <li><a href="/admin/salesreport">Sales Report</a></li>
      </ul>
    </li>
  </ul>
  <div style="text-align: right;">
    <a type="button" href="/admin/adminlogout" class="btn btn-danger">LogOut</a>
  </div>
</aside>

<section id="contents">

  <div class="welcome">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h2>Welcome to Dashboard</h2>
            {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p> --}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="charts" style="display: none;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="chart-container">
            <h3>Chart</h3>
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div class="col-md-6">
          <div class="chart-container">
            <h3>Chart2</h3>
            <canvas id="myChart2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='statis text-center'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="box bg-primary">
            <i class="fa fa-eye"></i>
            <h3>5,154</h3>
            <p class="lead">Page views</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box danger">
            <i class="fa fa-user-o"></i>
            <h3>{{allUsers}}</h3>
            <p class="lead">User registered</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box warning">
            <i class="fa fa-shopping-cart"></i>
            <h3>{{allOrders}}</h3>
            <p class="lead">Product sales</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box success">
            <i class="fa fa-handshake-o"></i>
            <h3>{{allProducts}}</h3>
            <p class="lead">Transactions</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="chrt3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="chart-container">
            <canvas id="chart3" width="100%"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
          </div>
        </div>
      </div>
    </div>
  </section>
</section>


<script src="/javascripts/admin/dashboard.js"></script>
<script src="/javascripts/admin/report.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<script>

</script>


<script>

</script>