<style>
    #edituser {
        background-color: #2a2b3d;
    }

    #edit {
        margin-left: 426px;
        margin-top: 100px;
        background-color: #313348;
    }

    .edit {
        color: #ccc;
    }
</style>

<section>

    <body id="edituser">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6" id="edit">
                    <h2 class="text-center" style="color: #ccc;">Edit Product</h2>
                    <form action="/admin/edit-users/{{user._id}}" method="POST" enctype="multipart/form-data">
                        <label for="" class="edit">Name</label>
                        <input type="text" name="username" class="form-control" value="{{user.username}}">
                        <label for="" class="edit">Email</label>
                        <input type="text" name="email" class="form-control" value="{{user.email}}">
                        <label for="" class="edit">Password</label>
                        <input type="password" name="password" class="form-control" value="{{user.password}}">
                        <button type="submit" class="btn btn-success mt-4">submitt</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</section>