<section>
    <div class="row">
        <div class="container">
            <h2>Create a new account</h2>
            <form action="/signup" method="POST" autocomplete="on">
                <div class="form-group">
                    <label for="">Email address</label>
                    <input name="email" type="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="">User name</label>
                    <input name="name" type="text" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input name="password" type="text" class="form-control" placeholder="password">
                </div>
                <div>
                    <a href="/login">Allready have account</a>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>

</section>