<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/userlogin.css">
</head>

<body class="loginhome">

    {{!-- <h2>Weekly Coding Challenge #1: Sign in/up Form</h2> --}}
    <div class="container" id="container">

        <div class="form-container sign-up-container">
            <form action="/signup" method="POST">
                <h1>Create Account</h1>
                {{!-- <span>or use your email for registration</span> --}}
                <input id="signUser" type="text" placeholder="Username" name="username" />
                <input id="signEmail" type="email" placeholder="Email" name="email" />
                <input id="signEmail" type="mobile" placeholder="Mobile Number" name="mobile" />
                <input id="signPassword" type="password" placeholder="Password" name="password" />
                <button id="signUpBtn" type="submit" class="login-button">Sign Up</button>
            </form>
        </div>

        <script>
            function otpCall() {
                $("#userName").hide()
                $("#password").hide()
                $("#otp").hide()
                $("#mobile").show()
                $("#callMobileBtn").show()
                $("#loginBtn").hide()
                $("#enterMobile").hide()
            }
            function mobileSubmit() {
                $("#mobile").show()
                $("#otp").show()
                $("#callMobileBtn").hide()
                $("#otpSubmit").show()
                let mobileNumber = $("#mobile").val()
                $.ajax({
                    url: "/checkMobile",
                    method: "post",
                    data: {
                        mobileNumber,
                    },
                    success: (response) => {
                        console.log("ressssssssssssss", response)
                        if (response.details == null) {
                            $("#otp").hide()
                            $("#otpSubmit").hide()
                            $("#notValid").show()
                            $("#callMobileBtn").show()
                        } else {
                            $("#notValid").hide()
                            $.ajax({
                                url: "/callOtp",
                                method: "post",
                                data: {
                                    mobileNumber,
                                },
                                success: (response) => {
                                    localStorage.setItem("id", response)

                                    $("#lastValue").val(response)

                                    let latestId = response
                                    console.log("lllllllllllllllllllllllll", response)
                                }
                            })
                        }
                    }
                })
            }

            function applyOtp() {
                let otpId = $("#lastValue").val()
                let otpNum = $("#otp").val()
                let mobileNumber = $("#mobile").val()
                let number = parseInt(otpNum)
                if (otpNum.length < 6 || otpNum.length > 6) {
                    $("#otpTotalNum").show()
                    $("#otpError").hide()
                } else {
                    $.ajax({
                        url: "/otpVerify",
                        method: "post",
                        data: {
                            otpId,
                            otpNum,
                            mobileNumber,
                        },
                        success: (response) => {
                            if (response.status) {
                                window.location = "/";
                            } else {
                                $("#otpTotalNum").hide()
                                $("#otpError").show()
                                $("#otpError").html(response.errMsg)
                            }
                        }
                    })
                }
            }
        </script>

        <div class="form-container sign-in-container">
            <form action="/login" method="POST">
                <h1>Sign in</h1>
                <input id="userName" type="email" placeholder="username" name="email" style="display: block;" />
                <input id="password" type="password" placeholder="Password" name="password" style="display: block;" />

                <input id="mobile" type="callMobile" placeholder="Enter Mobile Number" name="otp"
                    style="display: none;" />
                <input id="otp" type="number" placeholder="Enter Otp" name="otp" style="display: none;" />
                <input id="lastValue" type="text" value="" name="" hidden>

                <a type="" id="enterMobile" onclick="otpCall()">Login with mobile</a>

                <button id="otpSubmit" type="button" class="login-button" onclick="applyOtp()"
                    style="display: none;">Otp Sumbit</button>
                <button id="callMobileBtn" type="button" class="login-button" onclick="mobileSubmit()"
                    style="display: none;">Submit</button>
                <button id="loginBtn" type="submit" class="login-button" onclick="logFucnction()">Log In</button>
                <div>
                    <h4 id="notValid" style="display: none;">Not valid Number</h4>
                    <h4 id="otpTotalNum" style="display: none;">Keep Six Digits</h4>
                    <h4 id="otpError" style="display: none;"></h4>
                </div>
                {{#if loginErr}}
                <div>
                    <h3>{{this.loginErr}}</h3>
                </div>
                {{/if}}

                {{#if signupsuc}}
                <div>
                    <h3>{{this.signupsuc}}</h3>
                </div>
                {{/if}}
                {{#if status}}
                <div>
                    <h3>{{this.status}}</h3>
                </div>
                {{/if}}
                <h2 id="status" style="display: none;">accout blocked</h2>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="javascripts/validate.js"></script>
    <script src="javascripts/userlogin.js"></script>

    <script>
        function logFucnction(event) {

            let email = $("#userName").val()
            let password = $("#password").val()
            $.ajax({
                url: "/checkUser",
                method: "post",
                data: {
                    email,
                    password
                },
                success: (response) => {
                    console.log("respppppppppp", response)
                    if (response.userBlock == true) {
                        document.getElementById("status").style.display = "block"
                    } else {
                        document.location.href = "/"
                    }

                }
            })
        }
    </script>
</body>

</html>